##Install the required packages using pip sudo pip install -r test-requirements.txt


coverage!=4.4,>=4.0 # Apache-2.0
ddt>=1.0.1 # MIT
fixtures>=3.0.0 # Apache-2.0/BSD
iso8601>=0.1.11 # MIT
oslotest>=3.2.0 # Apache-2.0
testtools>=2.2.0 # MIT
